/*font icons*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    margin: 20px;
    color: white;
}

* {
    margin: 0px;
}

img, embed, object, video {
    max-width: 100%;
}

.size {
    font-size: 200%;
}

html, body {
    height: 100%;
    width: 100%;
    background: url("map.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.max_detail {
    font-size: 200%;
    color: green;
    cursor: pointer;
    user-select: none;
    border-style: none;
    outline: none;
}

.top {
    width: 100%;
    height: 15%;
    display: flex;
    color: white;
    background-color: black;
    opacity: 0.7;
}

.icon {
    margin-top: 30px;
    width: 55%;
}

.menu {
    margin-top: 15px;
    width: 45%;
    height: auto;
    display: flex;
    line-height: 1em;
}


/*3D Buttons*/

button {
    border: 0;
    height: 50px;
    width: 25%;
    border-radius: 4px;
    background: #1e2633;
    box-shadow: 0 6px 0 #171d26;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    display: flex;
    flex-wrap: wrap;
    margin-right: 7px;
    opacity: 0.5;

}

button:active {
    box-shadow: 0 2px 0 #09e222;
    transform: translateY(3px);
}

button:hover {
    opacity: 1;
}

button:nth-child(2n) {
    position: relative;
    top: 15px;
}


/*icon effecet*/

.effect:hover {
    box-shadow: 0 2px 0 #09e222;
    transform: translateY(1px);
}


/*end*/


/*design section of logo */

.title {
    width: 100%;
    height: auto;
    color: white;
}

.logo_cointainer {
    margin-top: 20px;
    height: 150px;
    width: 100%;
    text-align: center;
}

.logo {
    height: 150px;
    width: auto;
}


/*title section*/

.name {
    height: 200px;
    color: white;
    text-align: center;
}

.max {
    font-size: 900%;
    clear: both;
}

.min {
    font-size: 400%;
    color: #898985;
    clear: both;
}

.color1 {
    color: orange;
}

.color2 {
    color: white;
}

.color3 {
    color: green;
}

hr {
    border-width: 2px;
    border-color: rgb(96, 93, 93);
    border-style: solid;
}


/*end*/

.some_info {
    clear: both;
    margin-top: 120px;
    float: right;
    padding-right: 5px;
}


/*responsive design */

@media screen and (min-width: 401px) and (max-width: 750px) {
  /*Responsive code*/
  .max {
      font-size: 400%;
      clear: both;
  }

  .min {
      font-size: 200%;
      color: #898985;
      clear: both;
  }
  .icon {
      display: none;
    }
  .menu {
      margin-top: 15px;
      width: 100%;
      height: auto;
      display: flex;
      top: 0;
  }
  .top {
      width: 100%;
      height: 30%;
      display: grid;
      color: white;
  }
  .size {
      font-size: 200%;
  }
}


@media screen and (max-width: 400px) {
  /*Responsive code*/
  .max {
      font-size: 200%;
      clear: both;
  }

  .min {
      font-size: 100%;
      color: #898985;
      clear: both;
  }
  .icon {
      display: none;
    }
  .menu {
      margin-top: 5px;
      padding-top: 5px;
      width: 100%;
      height: auto;
      display: grid;
  }
  .top {
      width: 100%;
      height: 30%;
      display: grid;
      color: white;
  }
  button {
      border: 0;
      height: 50px;
      width: 100%;
      border-radius: 4px;
      background: #1e2633;
      box-shadow: 0 6px 0 #171d26;
      color: #fff;
      cursor: pointer;
      font: inherit;
      transition: all .1s linear;
      opacity: 0.5;
      padding: 5px;

  }
  button:nth-child(2n) {
      position: relative;
      top: 0px;
  }
}
/*end*/
