@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    margin: 20px;
    color: black;
}

body {
    background: rgb(8, 14, 20);
}

* {
    margin: 0;
    padding: 0;
}

.head {
    height: 100px;
    background: rgba(31, 29, 29, 1);
    display: flex;
}


/*title section*/

.logo {
    width: 25%;
    font-family: Harlow Solid Italic;
    user-select: none;
    cursor: default;
    opacity: .8;
    height: 200px;
    color: white;
    text-align: center;
}

.max {
    font-size: 50px;
    clear: both;
}

.min {
    font-size: 20px;
    color: #898985;
    clear: both;
}

.color1 {
    color: orange;
}

.color2 {
    color: white;
}

.color3 {
    color: green;
}

logo:hover {
    opacity: 1.0;
}

.space {
    width: 25%;
}

.menu {
    margin-left: 100px;
    width: 50%;
    float: right;
    user-select: none;
    float: right;
}

ul {
    list-style-type: none;
    display: flex;
    float: right;
    width: 100%;
}

button {
    width: 25%;
    height: 60px;
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    margin-left: 5px;
    margin-top: 20px;
    /*color: blue;*/
    background: rgba(31, 29, 29, 1);
    color: white;
    border-radius: 10px;
    top: 2px;
    border: none;
    /*font-family: Algerian;*/
    font-size: 18px;
    user-select: none;
    outline: none;
    transition: width 1s ease, background-color .1s ease;
}

button:hover {
    /*border-style: solid;*/
    width: 250px;
    height: 80px;
    font-size: 22px;
    border-width: 10px;
    /*border-bottom: solid;
    border-left: solid;
    border-color: rgb(144, 7, 126);
    background: rgb(65, 255, 61);
    transition: width 1s,height 1s ,font-size 1s;*/
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    /*background: rgb(161, 171, 161);*/
    clear: both;
}


.foot {
    height: 200px;
    background: rgba(74, 74, 74, 1);
    text-align: center;
    display: block;
}


/*icon */

.icon {
    padding-top: 50px;
    user-select: none;
    font-size: 40px;
}


/*copyright*/

.copyright {
    height: 100px;
    line-height: 100px;
    vertical-align: bottom;
    text-align: center;
}

.effect:hover {
    box-shadow: 0 5px 0 #09e222;
    transform: translateY(1px);
}


/*remove underline from link*/

a {
    text-decoration: none;
}

a:link {
    /*color:rgb(255, 3, 184);*/
}


/*IMAGE SLIDER*/

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}

#sliderFrame {
    width: 900px;
    margin: 0 auto;
    /*center-aligned*/
}

#slider, #slider .sliderInner {
    width: 900px;
    height: 400px;
    /* Must be the same size as the slider images */
    border-radius: 3px;
}

#slider {
    background-color: white;
    position: relative;
    margin: 0 auto;
    /*center-aligned*/
    transform: translate3d(0, 0, 0);
    box-shadow: 0px 1px 5px #999999;
}


/* the link style (if an image is wrapped by a link) */

#slider a.imgLink, #slider .video {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#slider .video {
    background: transparent url(video.png) no-repeat 50% 50%;
}


/* Caption styles */

#slider .mc-caption {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px 0;
    /* 10px will increase the height.*/
    left: 0px;
    bottom: 0px;
    top: auto;
    overflow: hidden;
    font: bold 14px/20px Arial;
    color: #EEE;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

#slider .mc-caption a {
    color: #FB0;
}

#slider .mc-caption a:hover {
    color: #DA0;
}


/* ------ built-in navigation bullets wrapper ------*/

#slider .navBulletsWrapper {
    top: 400px;
    text-align: center;
    background: none;
    position: relative;
    z-index: 3;
}


/* each bullet */

#slider .navBulletsWrapper div {
    width: 11px;
    height: 11px;
    font-size: 0;
    color: White;
    /*hide the index number in the bullet element*/
    background: transparent url(bullet.png) no-repeat 0 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    overflow: hidden;
    cursor: pointer;
    margin: 0 6px;
    /* set distance between each bullet*/
}

#slider .navBulletsWrapper .active {
    background-position: 0 -11px;
}


/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position: absolute;
    border: none;
    display: none;
}

#slider .sliderInner {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#slider>a, #slider video, #slider audio {
    display: none;
}

#slider div {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*Imahge Slider End*/

/*search section*/
.search{
  /*background: white;*/
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  margin: 10px;

}
input[type=text] {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid black;
    /*background: rgb(161, 171, 161);*/
    border-radius: 40px;
    font-size: 16px;
    background-image: images/search.PNG;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline: none;
}

input[type=text]:focus {
    width: 100%;

}

/*Blog references section*/

.reference {
    height: 400px;
    display: flex;
    /*background: rgb(161, 171, 161);*/
    clear: both;
}

.border {
    border-style: solid;
    border-color: rgb(127, 255, 0);
    color: red;
    border-width: thick;
    height: 200px;
    border-radius: 50%;
    width: 25%;
    margin: 60px;
    border-width: 10px;
    line-height: 200px;
    vertical-align: middle;
    text-align: center;
    font-family: Algerian;
    font-size: 13px;
    user-select: none;
    cursor: default;
}

/*blog css here*/
